// Applies to both
ARCHS = $(ARCHS_UNIVERSAL_IPHONE_OS)
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Source/Prefix.pch
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
IPHONEOS_DEPLOYMENT_TARGET = 4.3
INFOPLIST_FILE = Resources/Info.plist
PRODUCT_NAME = SwiftCore
SDKROOT = iphoneos
TARGETED_DEVICE_FAMILY = 1,2
WRAPPER_EXTENSION = framework
MACH_O_TYPE = staticlib
LINK_WITH_STANDARD_LIBRARIES = NO
DEAD_CODE_STRIPPING = NO

// Applies to Debug only, overridden in Release
ARCHS = armv6 armv7
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
COPY_PHASE_STRIP = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = DEBUG
GCC_SYMBOLS_PRIVATE_EXTERN = NO
ONLY_ACTIVE_ARCH = YES
OTHER_CFLAGS = -Wshadow

