// Applies to both
ARCHS = $(ARCHS_UNIVERSAL_IPHONE_OS)
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Source/MacPrefix.pch
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
PRODUCT_NAME = SwiftCore
OTHER_LDFLAGS=$(inherited) -framework Accelerate -framework AppKit -framework AudioToolbox -framework AudioUnit -framework AVFoundation -framework ApplicationServices -framework Foundation -framework QuartzCore -framework UIKit 
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.6

// Applies to Debug only, overridden in Release
ARCHS = i386 x86_64
COPY_PHASE_STRIP = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = DEBUG
GCC_SYMBOLS_PRIVATE_EXTERN = NO
ONLY_ACTIVE_ARCH = YES
OTHER_CFLAGS = -Wshadow

